.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  z-index: 2;
}

.segment0 {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: all 0.8s;
}

.segment1 {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.6s;
}

.segment2 {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
  transition: all 0.4s;
}
.segment3 {
  transition: all 0.2s;
}

.head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  transition: all 0.1s;
}

.boris {
  background-image: url('../boris.png');
}

.nigel {
  background-image: url('../nigel.png');
}
