.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-size: cover;
  transition: all 0.7s;
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  z-index: 2;
}

.accent {
  font-size: 1.6rem;
}

.instructions {
  font-size: 1.4rem;
  color: white;
}

.segment0 {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.8s;
}

.segment1 {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.6s;
}

.segment2 {
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.4s;
}
.segment3 {
  transition: all 0.2s;
}

.head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  transition: all 0.1s;
}

.boris {
  background-image: url('./boris.png');
}

.nigel {
  background-image: url('./nigel.png');
}

.score {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: -50px;
  font-size: 1.6rem;
  color: white;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Vote_icon.svg);
  background-size: contain;
  z-index: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #2d7daa, #ffdfe9);
  padding: 2em;
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
  overflow: hidden;
}
.character {
  position: relative;
  display: inline-block;
  margin: 0 12px;
}
.title {
  font-size: 35px;
  margin-bottom: 1rem;
  color: white;
}
.character-inside {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transform: translatez(0);
  background: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
.character img {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.2s;
}
.character-name {
  position: absolute;
  z-index: 20;
  min-width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  line-height: 200px;
  text-align: center;
  white-space: nowrap;
  font-size: 4em;
  color: white;
  transition: 0.25s;
  opacity: 0;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

.character:after {
  border: 3px solid #fff;
  content: '';
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: 0.25s;
  opacity: 0;
}
.character:hover:after {
  width: 220px;
  height: 220px;
  top: -10px;
  left: -10px;
  opacity: 1;
}
.character:hover .character-name {
  font-size: 1.7em;
  opacity: 1;
}
.character:hover img {
  opacity: 0.4;
  top: -5px;
  left: -5px;
  width: 210px;
  height: 210px;
}

.top-score {
  display: block;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
