.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border:2px solid black;
  background-image: url(https://media.giphy.com/media/QtZKO7mb7ebpC/giphy.gif);
  background-size: cover;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Vote_icon.svg);
  background-size: contain;
  z-index: 1;
}