.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-size: cover;
  transition: all 0.7s;
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

.hiddenMenu {
  overflow-x: hidden;
}

.hiddenGame {
  overflow: hidden;
}

body {
  background: linear-gradient(120deg, #2d7daa, #ffdfe9);
  padding: 2em;
  font-family: 'Permanent Marker', sans-serif;
  text-align: center;
}
